@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* styles/globals.css */

/* Анимация для плавного появления */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Анимация для появления с небольшим смещением */
@keyframes slide-in {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* Анимация для появления с масштабированием */
@keyframes scale-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Применяем анимации */
.animate-fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

.animate-slide-in {
  animation: slide-in 0.8s ease-in-out forwards;
}

.animate-scale-in {
  animation: scale-in 0.5s ease-in-out forwards;
}

.animate-question-mark {
  animation: fade-in 2s ease-in-out forwards;
}
.animate-slide-in-question-mark {
  animation: slide-in 1s ease-in-out forwards;
}